.form {
    background-color: #fbf4df;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5vh 10vw;
}

.form h1 {
    width: 75%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-content {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 3rem;
    column-gap: 10rem;
}

.form-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.form-right {
    background-color: #f9eecd;
    padding: 3rem 1rem;
    border-radius: 15px;
}

#form-right-cta {
    padding: 10px;
    border: 2px solid #9b582e;
    background-color: #9b582e;
    color: #fff;
    border-radius: 25px;
    margin-top: 25px;
}

input {
    border: #fff solid 1px;
    padding: 2px;
    border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
    .form p {
        width: 50vw;
    }

    .form-content {
        flex-direction: column;
    }

    #form-right-cta {
        font-size: 8px;
        padding: 1px;
    }
}
